<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <!--ion-list>
      <div menuClose class="mola-menu" *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
        <img src={{p.image}}>
      </div>

    </ion-list!-->

    <ion-row >
      <div menuClose class="mola-menu" *ngFor="let p of pages" (click)="openPage(p)">
        <ion-col text-center>
          <div class="border">
            <ion-row justify-content-center>
              <img src={{p.image}}>
            </ion-row>
            <ion-row justify-content-center>
              {{p.title}}
            </ion-row>
          </div>
        </ion-col>
      </div>
    </ion-row>
 
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>